{% extends 'wccLibrary/base.html' %}

{% block title %}My-SSOC{% endblock %}

{% block content %}
        你好 威咖！
<p class="text-warning">图书列表</p>
<p class="text-danger">热门书籍</p>
{% endblock %}







{##}
{##}
{#<!DOCTYPE html>#}
{##}
{#{% load staticfiles %}<!-- 添加的行 -->#}
{##}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>呵</title>#}
{#</head>#}
{#<body>#}
{#    <h1>bootstrap 案例</h1>#}
{#    <strong>{{ msg }}</strong>#}
{#    <img src="{% static "img/区块链开发指南.jpg" %}" alt="Picture of book"/>#}
{##}
{#</body>#}
{#</html>#}